build
3rd-party/boost_1_68_0
3rd-party/curl-7.47.0
3rd-party/irda_mac/libirda.dylib
3rd-party/lib-32
3rd-party/libconfig-1.5
3rd-party/libdivecomputer
3rd-party/libdivecomputer-0.6.0
3rd-party/libiconv-1.14
3rd-party/openssl-1.0.1h
3rd-party/rapidjson
3rd-party/wxWidgets-3.1.1
